/node_modules

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/test/tmp/
/test/version_tmp/
/tmp/

# Environment normalisation:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Sensitive stuff
/.config
.env*

# Junk files
*.swp
*.swo
*.gem
*.rbc
