.row
  .col-md-12
    %p 
    %p ----------------------------------------------------------x
    %p #{@notice.name.upcase}                        
    %p                 		Plaintiff,                    	
    %p                                                                     
  .col-md-6
    %p     		-versus-                                   	
  .col-md-6
    %p VERIFICATION
.row
  .col-md-12
    %p                                                                     	               		
    %p THE CITY OF NEW YORK;			
    %p [OFFICER JOHN DOE 1],       		
    %p and [OFFICER JOHN DOE 2];                         
    %p                	                                                
    %p                                                                     	
    %p Defendants.                  		            
    %p -----------------------------------------------------------x
    %p  
    %p  
    %p STATE OF NEW YORK      	)
    %p COUNTY OF [COUNTY] 	)   		
    %p  
    %p    	 					
.row
  .col-md-12
    %p #{@notice.name.upcase} being duly sworn, attests that they are the claimant in this matter, that they have read the attached Notice of Claim, and they attest that the statements therein are true and correct except as to those matters asserted upon information and belief and as to those matters he believes them to be true.
    %p  
.row
  .col-md-9
    %p
  .col-md-3
    %p ___________________________
    %p                                                                                
    %p              #{@notice.name.upcase}
.row
  .col-md-12
    %p  
    %p Sworn and subscribed to me
    %p This _____________________
    %p  
    %p 
    %p 
    %p ______________________
    %p Notary Public
