%html
  %head
    %title "Notice of Claim Builder"
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{:src => "/js/underscore.js"}
  %body
    -#%nav.navbar.navbar-inverse.navbar-fixed-top
      -#.container
        -#.navbar-header
          -#%a.navbar-brand Project name
          -#%button{:type => "button", :class => "navbar-toggle collapsed",
            -#:data => {:toggle => "collapse", :target => "#navbar"},
            -#:aria => {:expanded ="false", controls => "navbar"}
            -#}
              -#%span.sr-only Toggle navigation
              -#%span.icon-bar
              -#%span.icon-bar
              -#%span.icon-bar
          -#.collapse.navbar-collapse#navbar
            -#%ul.nav.navbar-nav
              -#%li.active
                -#%a{:href => "#"} Home
              -#%li
                -#%a{:href => "about"} About
    .container#main{role: "main"}
    %script{type: "text/babel"}
    :javascript
      var NOCForm = React.createClass({
        render: function() {
          return (
              <p>Hello, world! I am a CommentBox.</p>
          );
        }
      });
      ReactDOM.render(
        <NOCForm />,
        document.getElementById('main')
      );


      -#.row
        -#.md-col-12
          -#%form{:method => "post"}
            -#.form-group
              -#%label{:for => "mistreated"} Were you harmed or mistreated by the NYPD?
              -#%select.form-control{id: "mistreated", name: "mistreated"}
                -#%option(selected disabled hidden value='')
                -#%option Yes
                -#%option No
            -#.form-group
              -#%label{:for => "incident-date"} When did it happen?
              -#%input.form-control{type: "date", name: "incident-date", id: "incident-date"}
            -#.form-group#name
              -#%label{:for => "client-name"} Name
              -#%input.form-control{type: "text", id: "client-name", name: "client-name"}
            -#.form-group#who
              -#.checkbox
                -#%label
                  -#%input.checkbox{type: "checkbox", value: ""}
                  -#This incident happened to me.
              -#.checkbox
                -#%label
                  -#%input.checkbox{type: "checkbox", value: ""}
                  -#This incident happened to my child. 
              -#.checkbox
                -#%label
                  -#%input.checkbox{type: "checkbox", value: ""}
                  -#This incident happend to someone else.
            -#.form-group#child-name
              -#%label{:for => "child-name"} Child's Name
              -#%input.form-control{type: "text", id: "child-name", name: "child-name"}
            -#.form-group#email
              -#%label{:for => "client-email"} Email
              -#%input.form-control{type: "email", id: "client-email", name: "client-email"}
            -#.form-group#snailmail
              -#%label{:for => "client-address"} Your Address
              -#%input.form-control{type: "text", id: "client-address", name: "client-address"}
            -#.form-group#incident-address
              -#%label{:for => "incident-address"} Incident Address/Location
              -#%input.form-control{type: "text", id: "incident-address", name: "incident-address"}
            -#.form-group#incident-time
              -#%label{:for => "incident-time"} Incident Time
              -#%input.form-control{type: "time", id: "incident-time", name: "incident-time"}
            -#.form-group#outcome
              -#%label{:for => "outcome"} What happened?
              -#%fieldset{id: "outcome"}
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
                    -#An officer physically injured me
                -#// Physical injury sub-form
                -#%label{:for => "physical-injury-details"} How did the officer physically injure you?
                -#%fieldset{id: "physical-injury-details"}
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][beaten]", name: "outcome[battery][beaten]"}
                      -#Beaten with object
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][vehicle]", name: "outcome[battery][vehicle]"}
                      -#Hit by police vehicle
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][choked]", name: "outcome[battery][choked]"}
                      -#Choked
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][pepper]", name: "outcome[battery][pepper]"}
                      -#Pepper-sprayed
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][taser]", name: "outcome[battery][taser]"}
                      -#Tasered
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][animal]", name: "outcome[battery][animal]"}
                      -#Attacked by police animal
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][force]", name: "outcome[battery][force]"}
                      -#Physical force
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][handcuffs]", name: "outcome[battery][handcuffs]"}
                      -#Handcuffs were applied too tightly
                  -#.checkbox
                    -#%label
                      -#%input{type: "checkbox", id: "outcome[battery][other]", name: "outcome[battery][other]"}
                      -#Other
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[assault]", name: "outcome[assault]"}
                    -#An officer threatened to physically injure me
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[unlawful-search]", name: "outcome[unlawful-search]"}
                    -#An officer searched me or my property without my permission
                    -#// Physical injury sub-form
                    -#%label{:for => "unlawful-search-details"} What was searched?
                    -#%fieldset{id: "unlawful-search-details"}
                      -#.checkbox
                        -#%label
                          -#%input{type: "checkbox", id: "outcome[unlawful-search][vehicle]", name: "outcome[unlawful-search][vehicle]"}
                          -#My vehicle
                      -#.checkbox
                        -#%label
                          -#%input{type: "checkbox", id: "outcome[unlawful-search][bag]", name: "outcome[unlawful-search][bag]"}
                          -#My bag
                      -#.checkbox
                        -#%label
                          -#%input{type: "checkbox", id: "outcome[unlawful-search][pockets]", name: "outcome[unlawful-search][pockets]"}
                          -#My pockets
                      -#.checkbox
                        -#%label
                          -#%input{type: "checkbox", id: "outcome[unlawful-search][home]", name: "outcome[unlawful-search][home]"}
                          -#My home
                      -#.checkbox
                        -#%label
                          -#%input{type: "checkbox", id: "outcome[unlawful-search][other]", name: "outcome[unlawful-search][other]"}
                          -#Other
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[seizure]", name: "outcome[seizure]"}
                    -#An officer took my property
                -#%label{:for => "outcome[seizure][what]"} What was taken?
                -#%input{type: "text", id: "outcome[seizure][what]", name: "outcome[seizure][what]"}
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[trespass]", name: "outcome[trespass]"}
                    -#An officer damaged my property
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[conversion]", name: "outcome[conversion]"}
                    -#An officer destroyed my property
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[unlawful-arrest]", name: "outcome[unlawful-arrest]"}
                    -#An officer arrested me without probable cause
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[med-attention]", name: "outcome[med-attention]"}
                    -#I needed medical attention, but the police refused to provide it
                -#.checkbox
                  -#%label
                    -#%input{type: "checkbox", id: "outcome[none]", name: "outcome[none]"}
                    -#None of the above
            -#.form-group
              -#%label{:for => "number-officers"} How many officers were involved?
              -#%select.form-control{id: "number-officers", name: "number-officers"}
                -#- (1..10).each do |i|
                  -#%option= i
            -#.form-group
              -#%label{:for => "damages"} Damages:

-#Did you experience physical pain?
-#Did you seek medical attention?
-#Did you have to miss work?
-#Did you experience embarrassment or humiliation?
-#Did you experience emotional distress?
-#Was your property lost, damaged or stolen?

            %button.btn.btn-default{type: "submit", value: "Submit"} Submit
