.form-group
  %label{:for => "damages"} Damages:
  %fieldset{id: "outcome"}
    .checkbox
      %label
        %input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
        Did you experience physical pain?
    .checkbox
      %label
        %input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
        Did you seek medical attention?
    .checkbox
      %label
        %input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
        Did you have to miss work?
    .checkbox
      %label
        %input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
        Did you experience embarrassment or humiliation?
    .checkbox
      %label
        %input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
        Did you experience emotional distress?
    .checkbox
      %label
        %input{type: "checkbox", id: "outcome[battery]", name: "outcome[battery]"}
        Was your property lost, damaged or stolen?

