%fieldset#officer
  .form-group
    = f.label :name, "Officer's name", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group#officer
    = f.label :badge_number, "Badge Number", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :badge_number, class: 'form-control'
