%html
  %head
    %title "Notice of Claim Builder"
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
  %body
    .container#main{role: "main"}
      .row
        .md-col-12
          %form{:method => "post"}
            %button.btn.btn-default{type: "submit", value: "Submit"} Submit
