%h3 Contact

%h5 The Team
%ul
  %li= link_to "Rebecca Ackerman", "https://github.com/rcackerman/"
  %li Sam Natale, JD
  %li= link_to "Jason Tashea, JD", "https://twitter.com/jtashea"

%h5 Non-Notice of Claim Police Complaints
%p Some claims against the police do not qualify for a notice of claim. For these claims, you can make a separate complaint to the #{link_to "CCRB", "http://www.nyc.gov/html/ccrb/html/complaint/complaint.shtml"}

%h5 Questions, Comments, Concerns
%p If anything does not work intuitively, consider it a bug. You can report it #{link_to "on the project page", "https://github.com/rcackerman/notice-of-claim/issues/new"}
