%h3 What Happens Next?

%p Once this notice of claim has been submitted to the city, the city may choose to investigate your claim. You are not allowed to sue the city until the city’s investigation has concluded, or 90 days have elapsed from the date of sending the Notice of Claim if the city chooses not to investigate.
%p If the city investigates, then you will be contacted by an attorney from the city. The attorney has the authority to investigate your claim. You must cooperate with this investigation in order to be able to file a complaint in court, and it will involve meeting with a city attorney and telling them what happened. You may also be required to submit to a medical examination by a doctor employed by the city. This can often be inconvenient, and may take a lot of time, but is required in order for you to be allowed to sue the city.
%p You are allowed to have an attorney represent you during the city’s investigation. We strongly recommend that you seek an attorney for this process. 

