.noc-main {
  margin-top: 50px;
}

.footer {
  margin-top: 50px;
  border-top: 2px solid #a9a9a9;
  background-color: #eee;
  padding: 25px 0;
}

.nav-links {
  margin: 25px 0;
}

label.required:after {
  content:" *";
  color: #d9534f;
}

.sub-questions {
  margin-top: $padding-small-vertical;
  margin-left: ($padding-small-horizontal + 6px) !important;

  > label {
    font-weight: 500;
  }
}

.section-head {
  margin-top: 40px;
}

.btn-submit {
  color: #fff;
  background-color: #5499C7;
  border-color: #2980B9;
}

#back-link {
  padding-top: 20px;
}
